- var out = htmlWebpackPlugin.options.mock;
doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		meta(name="format-detection", content="telephone=no")
		title index
		link(rel="stylesheet", href="//mat1.gtimg.com/house/houseria/2017/lib/src/bootstrap.min.css")
		style.
			.p-title{padding:20px; margin-bottom: 0;}
			.p-title h1{margin:0; text-transform: uppercase;}
			.p-links{padding: 10px; border-bottom: 1px solid #ddd;}
			.p-pages{margin:0; padding: 10px; border-bottom: 1px solid #ddd;}
			.p-pages ol{padding: 0 0 0 20px;}
			.p-qrbox{list-style: none; margin: 0; padding: 10px; border-bottom: 1px solid #ddd;}
			.p-qrbox img{display: block; margin: 10px auto; width: 70%; height: 70%; max-width: 300px;}
			.p-links .btn, .p-qrbox .btn{text-align: left;}
	body
		.jumbotron.p-title
			h1 index

		if out.pages
			.p-pages
				h4 page list:
				ol
					each path in out.pages
						- path = path.replace(/\.[^\.]+$/, '.html');
						li
							a(href=path, target="_blank") #{path}

		if out.qrlinks
			ul.p-qrbox
				each link in out.qrlinks
					li
						img(data-qrlink=link.href)
						a.btn.btn-default.btn-block(href=link.href, target="_blank")=link.text

		if out.links
			.p-links
				each link in out.links
					a.btn.btn-default.btn-block(href=link.href, target="_blank") #{link.text}

		script(src="//mat1.gtimg.com/house/houseria/2016/lib-zepto/js/v1/lib.js")
		script(src="//mat1.gtimg.com/house/houseria/2017/lib/src/qrious.min.js")
		script.
			$(function() {
				var $qrious = window.QRious;

				$('.p-qrbox img').each(function() {
					var img = this;
					var addr = $(img).attr('data-qrlink');
					var qr = new $qrious({
						element: img,
						value: addr
					});
					console.info(addr, qr);
				});
			});
